/* body {
    font-family: 'Arial', sans-serif;
    background-color: peachpuff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
   */
  .data-container {
    font-family: 'Arial', sans-serif;
    text-align: center;
    background-color:white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 800px;
    width: 100%;
  }
  
  /* h1 {
    color: #333;
    font-size: 2em;
  } */
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  

h2 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    border: 1px solid #000300;
    padding: 10px;
    text-align: left;
  }
  
  th {
    background-color: steelblue;
    font-size: 1.2em;
    text-align: center;
  }
    